  *{
  	padding: 0;
  	margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
  }

header{
 	width: 100%;
 	height: 100vh;
 	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/401796/pexels-photo-401796.jpeg');
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
 }

 hr{
    width: 200px;
    border:3px solid #5b5d6b!important;
    margin: auto;
    margin-bottom: 60px;
    margin-top: -20px!important;
}

.bg-nav{
    background-color: rgba(0,0,0,0.5);
 }

 .main-bg{
 	width: 90%;
 	height: 400px;
 	position: absolute;
 	top: 40%;
 	left: 50px;
 	transform: translate(-50% -50%);
 	text-align: center;
 	color: white;
 }

 .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.navbar-nav ul li a{
    font-family: 'Staatliches', cursive;
}

p{
    font-family: 'Slabo 27px', serif;
    word-spacing: 3px;
    text-align: justify;
}

.main_values{
    /*background-color: rgba(0,0,0,0.5);*/
    box-shadow: 2px 2px 2px red;
    margin: 15px 0;
}

.heading_font::after{
    width: 20%;
    height: 10px;
    margin: auto;
    border:1px solid red;

}




.gallerysetting{
            padding: 20px 0px;
            overflow-x: hidden;
        }

.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgb(214, 63, 64));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
  color: white;
}




@media (min-width: 300px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}
